/* Styles for Mobile devices */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 375px;
    position: relative;
    z-index: 1;
  }
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    position: relative;
    z-index: 1;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
    position: relative;
    z-index: 1;
  }
}
